h1{
  color: #725a9a;
  font-family: Tahoma;
  font-size: 70px;
  text-align: center;
}

a{
  color: white;
  font-family: Tahoma;
  font-size: 30px;
  text-align: center;
  background-color: #47525e;
}

.menu-items{
  text-align: center;
  padding-top: 10px;
}

a:hover{
  color: #725a9a;
}

.hash-woman-in-stem{
  padding-top: 20px;
  text-align: center;
}

.logo{
  float: left;
  margin-left: 20px;
}

.footer-box{
  background-color: #725a9a;
  width: 100%;
  height: 200px;
}

.bottom{
  text-align: center;
  color: white;
  font-family: Tahoma;
  font-size: 15px
}

.social-media{
  padding-left: 15px;
  padding-top: 50px;
}

.email{
  padding-right: 15px;
  padding-top: 50px;
  text-align: right;
}

.contact{
  color: white;
  text-align: center;
  font-family: Tahoma;
  font-size: 15px;
}
